@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

#nrp > div {
	border: .5px solid darkgrey;
	padding: 4px;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	display: grid;
	grid-template-columns: auto auto;
	width:250px;
	background: linear-gradient(white, silver);
	border-radius: 6px;
}

#nrp > div > * {
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
}
#nrpvv {
	cursor: pointer;
	display: grid;
	grid-template-columns: auto auto;
	border: none;
	background: none;
}

#nrp img, #nrp div {
	align-self: center;
	text-align: center;
}
#nrp p {
	font-size: 8px;
	
}

#nrp a {
	text-decoration: none;
	color: #111111;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(361deg);
	}
}
#nrpcb {
	height: 40px;
}

#nrpbv {
	margin: 5px;
	padding: 6px;
	border: 2px solid #112111;
	border-top-width: 0;
	border-bottom-width: 3px;
	border-left-width: 0;
	background: #223322;
	color: white;

}

#nrpbv:hover {
	cursor: pointer;
}

#nrpbv:active {
	border: 0px;
}

#nrpvv:disabled {
	color: #000;
	cursor: not-allowed;
}

/*Edicion del cajon de verificaci?*/

#nrpc {

	border-radius: 5px;
	overflow: hidden;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 125px 125px;
	grid-template-rows: 125px 125px;

}

.nrpslt{
	cursor: pointer
}

#nrpm {
	font-family: Arial;
	text-align: center;
	width: 260px;
	padding: 5px;
	align-self: center;
	margin: 0 auto;
	background: white;
	border-radius: 5px;
}

#nrpsb {
	position: absolute;
	display: grid;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	background: rgba(0,0,0,0.6);
}

#nrplnk {
	display: block;
	text-align: left;
	text-decoration: none;
	color: #112211;
	font-size: 12px;
}