@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

#NoRobotPlay {
	padding: 4px;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	display: grid;
	grid-template-columns: auto auto;
	width:250px;
	background: linear-gradient(white, silver);
	border-radius: 6px;

}

#NoRobotPlay button{
	cursor: pointer;
	display: grid;
	grid-template-columns: auto auto;
	border: none;
	background: none;

}

#NoRobotPlay img, #NoRobotPlay div {
	align-self: center;
	text-align: center;
}
#NoRobotPlay p {
	font-size: 8px;
	
}

#NoRobotPlay a {
	text-decoration: none;
	color: #111111;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(361deg);
	}
}
#cajon-btn {
	height: 40px;
}

#btnVerificar {
	margin: 5px;
	padding: 6px;
	border: 2px solid #112111;
	border-top-width: 0;
	border-bottom-width: 3px;
	border-left-width: 0;
	background: #223322;
	color: white;

}

#btnVerificar:hover {
	cursor: pointer;
}

#btnVerificar:active {
	border: 0px;
}

#NoRobotPlay-btn:disabled {
	color: #000;
	cursor: not-allowed;
}

/*Edicion del cajon de verificación*/

#cajon {

	border-radius: 5px;
	overflow: hidden;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 125px 125px;
	grid-template-rows: 125px 125px;

}

.seleccion{
	cursor: pointer
}

#main-cajon {
	font-family: Arial;
	text-align: center;
	width: 260px;
	padding: 5px;
	align-self: center;
	margin: 0 auto;
	background: white;
	border-radius: 5px;
}

#shadow-box {
	position: absolute;
	display: grid;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	background: rgba(0,0,0,0.6);
}