<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Title -->
    <title>Web App Coder's</title>
    <!-- Meta's charset & description-->
    <meta charset="UTF-8">
    <meta name="description" content="Sitio web del servicio de creacion manual de aplicaciones web prograsivas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/icons/icon-192.png">
    <link rel="apple-touch-icon" href="img/icons/icon-192.png">
    <link rel="apple-touch-startup-image" href="img/icons/icon-192.png">
    <!-- CSS 
    <link rel="stylesheet" href="css/main.css">

    -->
    <!-- PWA's -->
    <meta name="theme-color" content="#F15A24">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="app-mobile-web-app-status-bar-style" content="black-translucent">
    
    <link rel="manifest" href="./manifest.json">
    
</head>
<body>
    <main id="app">
        <header>
            <h1>WAC</h1>
            <nav>
                <a href="">Portafolio</a>
                <a href="">Contactame</a>
            </nav>
        </header>

        <section id="sobremi">
            <p>Somos un equipo de programadores y diseñadores, de sitios de internet con la capacidad de ser aplicaciones mobiles y de escritorio, todo tipo de aplicacion es posible en tres sencillos pasos</p>
            <div>
                <article>
                    <img src="img/icons/icon-160.png" alt="imagen uno">
                    <h2>Eficiencia</h2>
                    <p>Pida lo que necesite que nuestro es capaz de hacer todo realidad</p>
                </article>
                
                <article>
                    <img src="img/icons/icon-160.png" alt="imagen uno">
                    <h2>Inovacion</h2>
                    <p>Siempre con lo mas nuevo en tecnologia y ciber seguridad para que el cliente nunca sufra ataques y perdida de informacion de ningun tipo</p>
                </article>
                <article>
                    <img src="img/icons/icon-160.png" alt="imagen dos">
                    <h2>Compromiso</h2>
                    <p>Una vez solicitado, se le da un tiempo limite el cual siempre cumpleros al pie de la letra</p>
                </article>
            </div>
        </section>
        <section id="portafolio">
            <h2>Portafolio</h2>
            <article>
                <img src="img/icons/icon-160.png" alt="imagen uno">
                <h2>Landind pages</h2>
            </article>
            
            <article>
                <img src="img/icons/icon-160.png" alt="imagen uno">
                <h2>Sistemas de juegos</h2>
            </article>
            <article>
                <img src="img/icons/icon-160.png" alt="imagen dos">
                <h2>Sistema de administracion</h2>
            </article>
        </section>

        <section id="contactame">
            <h2>Contactame</h2>
            <p>Tienes dos formas: puedes darle al boton de whatsapp o si no tienes whatsapp tienes el boton de facebook</p>
            <a href="https://wa.me/584245157367">Whatsapp</a><a href="https://fb.com/fabrizhioda">Facebook</a>
        </section>
        <footer>
            <h3>WAC - Fabrizhio A. - Derechos reservados</h3>
        </footer>
        <!-- 
        <form id="login" v-if="form" class="form login">
            <h2>WAC</h2>
            <div class="form-control" v-if="register">
                <label for="">Nombre completo</label>
                <input type="text"name="nombre" placeholder="EJ:Pedro Perez" v-model="formdata.name">
            </div>
            <div class="form-control" v-if="!recovery">
                <label>Usuario:</label>
                <input type="text" name="usuario" placeholder="Ej: PedritoD" v-model="formdata.user">
            </div>
            <div class="form-control" v-if="!recovery">
                <label>Clave:</label>
                <input type="password" name="clave" placeholder="Ej: 24*let29" v-model="formdata.password">
            </div>
            <div class="form-control" v-if="!login">
                <label>Correo:</label>
                <input type="email" name="correo" placeholder="Ej: pp2020@tucorreo.com"  v-model="formdata.email">
            </div>
            <div class="form-control">
                <button type="button" class="btn-primary" v-if="login" @click="loginUser()">
                    Ingresar
                </button>
                <button type="button" class="btn-primary" v-if="register">
                    Registrar
                </button>
                <button type="button" class="btn-primary" v-if="recovery">
                    Recuperar
                </button>
            </div>
            <hr>
            <div class="form-control">
                <button type="button" @click="viewLog" v-if="!login" class="btn-secundary md-auto">Ingresar</button>
                <button type="button" @click="viewReg" v-if="!register" class="btn-secundary md-auto">Registrarme</button>
                <button type="button" @click="viewRec" v-if="!recovery" class="btn-secundary md-auto">Recuperar clave</button>
            </div>
        </form> -->
    </main>
    <!-- 
        <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
-->
</body>
</html>